.App {
  display: flex;
  font-family: sans-serif;
  justify-content: center;
  align-items: center;
}
input[type="radio"] {
  display: none;
}

.star {
  cursor: pointer;
  transition: color 200ms;
}
